<div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <div class="card" ng-if="product">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a ui-sref="product">New Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{product.subject}}</li>
                            </ol>
                        </nav>
                        <div class="row px-3">
                            <div class="col-md-6 col-lg-7 p-1">
                                <div class="card">
                                    <img class="card-img-top" ng-src="{{product.image | reverseImage }}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">{{product.title}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 p-1">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.subject}}</h5>
                                        <p class="card-text"></p>
                                    </div>
                                    <ul class="list-group list-group-flush text-right">
                                        <li class="list-group-item "><h3>price <span class="text-danger"> {{product.price}} </span> .-</h3></li>
                                        <li class="list-group-item">Update lastest {{product.updated_at}}  </li>
                                        <li class="list-group-item"><button class="btn btn-danger btn-block"> Buy Now </button> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <h5>Product description</h5>
                                <hr>
                                <p ng-bind-html="encodedData(product.detail)"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>